.basic-button {
  padding: .5rem 1rem;
  border-radius: .5rem;
  margin: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  color: white;
  font-size: 1rem;
  background-color: var(--light-fill);
  border: 1px solid var(--border-color);
}

.basic-button:hover {
  border: 1px solid white;
  background-color: var(--border-color);
  cursor: pointer;
}

.basic-button:disabled {
  pointer-events: none;
  filter: grayscale(.5);
  opacity: .5;
}

.basic-button:active {
  transform: scale(0.95);
}

.basic-button.primary {
  border-color: var(--main-orange);
  background-color: var(--main-orange);
}

.basic-button.primary:hover {
  border-color: var(--main-red);
  background-color: var(--main-red);
}

.header-button {
  margin: .25rem .5rem;
}

.basic-button>img {
  height: 2em;
  margin-right: .5em;
}