nav,
.branding,
.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--fill-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 1rem .75rem;
  z-index: 1;

  --branding-size: 3rem;
}

.branding:hover,
#burger-menu:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.branding>.logo {
  height: var(--branding-size);
}

.branding>.title {
  background: #D62828;
  background: linear-gradient(to bottom, #D62828 0%, #F77F00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(var(--branding-size) * 0.5);
  font-weight: 700;
  margin: 0;
}

#burger-menu-container {
  height: calc(var(--branding-size) * 0.8);
  width: calc(var(--branding-size) * 0.8);
  margin: 0 calc(var(--branding-size) * 0.2);
}

#burger-menu {
  height: 100%;
  width: 100%;
}

#menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--fill-color);
  border-radius: .5rem;
  opacity: 0;

  display: flex;
  flex-direction: column;
  transform-origin: 90% 0%;
  z-index: 1;
}

#menu-dropdown.closed {
  transform: scale(0.5);
}

#menu-dropdown.open {
  opacity: 1;
}

#menu-dropdown>.header-button {
  justify-content: unset;
  opacity: 1;
}

#header-spaceholder {
  margin-bottom: 3rem;
}