.search-results-container {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 2rem 2rem;
  border-radius: 1rem;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

/* ===== BEGIN SCREEN SIZE SPECIFIC STYLES ===== */
/* Styles cascade down, with styles for desktop  */
/* applying to all sizes, tablet styles applying */
/* to tablet and mobile, and mobile styles being */
/* mobile specific.                              */
/* ============================================= */

@media screen and (max-width: 1050px) {}

/* END SCREEN MAX-WIDTH 1050px */
/* =========================== */

@media screen and (max-width:767px) {}

/* END SCREEN MAX-WIDTH 767px */
/* ========================== */

@media screen and (max-width:479px) {}

/* END SCREEN MAX-WIDTH 479px */
/* ========================== */