.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  --margin-bottom: 15vh;
  height: calc(100vh - var(--margin-bottom));
  margin-bottom: var(--margin-bottom);
}

.buttons-row {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}